

.intro-wrapper{
  max-width: 1000px;
  margin:auto;
  background-color: #FAFAFF;
}

.intro-init-wrap {
  width:60%;
  max-width:400px;
  margin:auto;
  padding: 20px;
  border-radius:10px;
  background-color:#F6F0FF;
}

.intro-init-content {
  max-width:300px;
  margin:auto;
}


#intro-footer {
  padding:60px;
  text-align: center;
}


.intro-demo {
  width:80%;
  margin:auto;
}

.intro-playground {
  padding:15px; 
  border-radius:10px;
}

.intro-feedback {
  width: 90%;
  padding: 10px;
  border-style:solid;
  border-width: 3px;
  border-radius: 10px;
}
.incorrect {
  border-color: #DB9B94;
}
.correct {
  border-color: green;
}
